// !Global Styles
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-fam;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 150px;
    height: 150px;
    max-width: 100%;
}
