@import "variables";
@import "reset";
@import "config";

// !Main Styles
.heading {
    padding: 30px;
    margin-bottom: 10px;
}

#flexBoxRPSid {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;

    img {
        width: 150px;
        height: 150px;

        &:hover {
            box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
        }
    }
}
