@import "variables";
@import "reset";
@import "config";

// !Main Styles
.heading {
    padding: 30px;
    margin-bottom: 10px;
}

#flexBoxRPSid {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;

    img {
        width: 150px;
        height: 150px;

        &:hover {
            box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
        }
    }
}

.reload {
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(25, 95, 25);
    &:hover {
        background-color: rgba(25, 95, 25, 0.61);;
    }
}
